body {
	background: #070000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Permanent Marker', cursive;
}

.theGame {
	width: 350px;
	height: 350px;
	border: 1px solid #ddd;
	margin: 50px auto;
	padding: 10px;

}

.theGame div {
	margin: 0 auto;
	clear: both;
	width: 180px;
}

.theGame button {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px;
	font-size: 20px;
	transition: all 0.3s ease-in-out 0s;
	font-family: 'Permanent Marker', cursive;
}

.button:hover {
	cursor: default;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
	border: 2px solid black;
}

.theButtons {
	padding-top: 60px;
}

.gameActions {
	margin-left: 40%;
	margin-right: 40%;
	padding: 10px;
	overflow: auto;
}

.gameActions h2 {
	color: red;
	margin-bottom: 3px;
}

.gameActions h3 {
	margin-top: 3px;
}

.new {
	font-family: 'Permanent Marker', cursive;
}

.new:hover {
	border: 2px solid black;
}